@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    position: fixed;
    user-select: none;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

code {
    background-color: #1a1a1a;
    padding: 2px 4px;
    margin: 0 4px;
    border-radius: 4px;
}

.card {
    padding: 2em;
}

.font-gs {
    font-family: genshin-font, serif;
}

.font-sr {
    font-family: sr-font, sans-serif;
}

.font-sr-sans {
    font-family: sr-sans-font, sans-serif;
}

#app {
    text-align: center;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }

    code {
        background-color: #f9f9f9;
    }
}
