@import 'bootstrap-icons/font/bootstrap-icons.css';
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;

    color: #213547;
    background-color: #ffffff;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

:root .dark {
    color: #ccc;
    background-color: #222;
}

body {
    transition: all 0.3s;
    margin: 0;
    place-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    position: fixed;
    user-select: none;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

input {
    background: white;
}

.dark input {
    background: #222;
}

code {
    background-color: #1a1a1a;
    padding: 2px 4px;
    margin: 0 4px;
    border-radius: 4px;
}

.font-gs {
    font-family: genshin-font, serif;
}

.font-sr {
    font-family: sr-font, sans-serif;
}

.font-sr-sans {
    font-family: sr-sans-font, sans-serif;
}

#app {
    text-align: center;
    padding: 0 1vw;
}
