@font-face {
  font-family: "genshin-font";
  src: url("./genshin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sr-font";
  src: url("./starrail.ttf");
  font-weight: normal;
  font-style: normal;
}
